.drawer-title {
  color: var(--background);
  font-size: 2.3em;
}

.drawer-selected {
  color: var(--background) !important;
}

.drawer-first-option {
  margin-top: 13px;
}

.drawer-selected .v-icon {
  color: var(--background) !important;
}

.drawer-selected--active {
  color: var(--primary) !important;
  background-color: var(--background) !important;
  font-weight: bold !important;
}

.drawer-selected--active .v-list-item__title {
  font-weight: bold !important;
}

.drawer-selected--active .v-icon {
  color: var(--primary) !important;
}

.drawer-subheader {
  font-size: 0.9em !important;
  color: var(--background) !important;
  background-color: #0020ff !important;
  margin-top: 20px;
}

.drawer-logout {
  background-color: var(--error);
  color: var(--background) !important;
  font-size: 0.9em !important;
  margin-top: 60px;
}

.drawer-subheader .v-icon {
  color: var(--background) !important;
  font-size: 1.1em !important;
}

.drawer-logout .v-icon {
  color: var(--background) !important;
}

.drawer-label {
  font-size: 0.9em !important;
  color: var(--background) !important;
}

.top-bar-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-search {
  margin-top: 20px !important;
}

.container-status-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.progress-bar-home {
  width: 50% !important;
}

.container-securities {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
}

.security {
  width: 40%;
  color: var(--background);
  border-radius: 20px;
  padding: 10px 20px;
}

.security.very-weak {
  background-color: var(--error);
}

.security.weak {
  background-color: orange;
}

.security.normal {
  margin-top: 20px;
  background-color: var(--accent);
}

.security.secure {
  margin-top: 20px;
  background-color: var(--success);
}

.container-most-forget-home,
.container-categories-home {
  margin-top: 20px;
}
